head
	meta(charset='UTF-8')
  block title
  // build:css css/vendor.min.css
  // bower:css
  // endbower
  // endbuild
  // build:css css/fonts.min.css
  link(rel='stylesheet' href='css/fonts.css')
  // endbuild
  // build:css css/main.min.css
  link(rel='stylesheet' href='css/main.css')
  // endbuild